:root{
    --dis-bg-head: #acd8e7;
    --dis-head: #dba521;
    --dis-first-bg-main: #00018a;
    --dis-main: #ef83ee;
    --dis-second-bg-main: #ffffff;
    --dis-first-rectangle: #1e91fe;
    --dis-second-rectangle: #ffc0cb;
    --dis-third-bg-main: #d3d3d3;
    --dis-third-rectangle: #228a23;
    --dis-fourth-bg-main: #23272a;
    --dis-fifth-rectangle: #f08181;
    --dis-sixth-rectangle: #20b2aa;
    --dis-footer: #7ffed5;
}

body{
    margin: 0;
}


ul{
    list-style: none;
    display: flex;
}


.site_header{
    height: 50px;
    background-color: var(--dis-bg-head);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container_flex{
    background-color: var(--dis-head);
}